<div class="hear-lose clearfix">
<div class="col-sm-12 hear-lose-img-box center">
	<img class="fa-arrow-circle-o-right"src="{{asset('bundles/zing/front/images/listening-ear.jpg')}}">
</div>
<div class="col-sm-12 hear-lose-text center">
	<h4>Вашият слух и загубата на слух</h4>
	<p>Въпреки че има различни видове загуба на слуха и различни причини за нея, за повечето хора слуховата загуба е просто част от процеса на остаряване.</p>
	<p>Загубата на слуха се появява постепенно в процес на няколко години и Вие дори може да не я забележете за определено време, но не се плашете - не сте сами. В България близо 300 000 човека имат някаква степен на слухова загуба – но добрата новина е, че с няколко прости стъпки, можете да се научите да чувате по-добре за кратък период от време.</p>
	<p>Първата стъпка към по-добро чуване е разбирането как работи Вашия слух и какво причинява загубата на слуха.</p>
</div>
<div class="hearing-content clearfix">
	<div class="hearing-text-box col-sm-8">
		<div class="hearing-text-box-content clearfix">
		<h4><a href="/zaguba-na-sluha/simptomi-sluhova-zaguba">Симптоми на слухова загуба</a></h4>
            <p>Има различни видове слухова загуба и различни степени на загуба на слуха. Ако се тревожите, че Вие или Ваш близък от семейството Ви имате загуба на слуха, ето някои общи симптоми, за които да следите. 
            </p>
            <a href="/zaguba-na-sluha/simptomi-sluhova-zaguba">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
	<div class="hearing-image-box col-sm-4">
		<a href="/zaguba-na-sluha/simptomi-sluhova-zaguba">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/hear-lose-1.jpeg')}}">
		</a>
	</div>
</div>
<div class="hearing-content clearfix">
	<div class="hearing-text-box col-sm-8">
		<div class="hearing-text-box-content clearfix">
		<h4><a href="/zaguba-na-sluha/razbirane-sluhova-zaguba">Разбиране за слухова загуба</a></h4>
            <p>Разбирането за слуховата загуба e всъщност научаване точно какво представлява тя, как работи ухото, запознаване с различни начини за предпазване на слуха. Тук може да намерите повече информация.
            </p>
            <a href="/zaguba-na-sluha/razbirane-sluhova-zaguba">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
	<div class="hearing-image-box col-sm-4">
		<a href="/zaguba-na-sluha/razbirane-sluhova-zaguba">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/hear-lose-2.jpeg')}}">
		</a>
	</div>
</div>
<div class="hearing-content clearfix">
	<div class="hearing-text-box col-sm-8">
		<div class="hearing-text-box-content clearfix">
		<h4><a href="/zaguba-na-sluha/vidove-prichini">Видове слухова загуба и причини</a></h4>
            <p>На тази страница може да научите повече за различните видове слухова загуба и причините, които водят до нея. Ще намерите информация за кондуктивната и сензорна загуба на слуха.
            </p>
            <a href="/zaguba-na-sluha/vidove-prichini">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
	<div class="hearing-image-box col-sm-4">
		<a href="/zaguba-na-sluha/vidove-prichini">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/hear-lose-3.jpeg')}}">
		</a>
	</div>
</div>
<div class="hearing-content clearfix">
	<div class="hearing-text-box col-sm-8">
		<div class="hearing-text-box-content clearfix">
		<h4><a href="/zaguba-na-sluha/deset-stupki">Десет стъпки към по-добро чуване</a></h4>
            <p>Загубата на слух се увеличава постепенно в продължение на няколко години, но Вие бихте могли да чувате по-добре само в рамките на няколко седмици като следвате следните 10 стъпки.
            </p>
            <a href="/zaguba-na-sluha/deset-stupki">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
	<div class="hearing-image-box col-sm-4">
		<a href="/zaguba-na-sluha/deset-stupki">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/hear-lose-4.jpeg')}}">
		</a>
	</div>
</div>
<div class="hearing-content clearfix">
	<div class="hearing-text-box col-sm-8">
		<div class="hearing-text-box-content clearfix">
		<h4><a href="/zaguba-na-sluha/pomosht-blizuk">Да помогнеш на близък</a></h4>
            <p>Загрижени ли сте за някой Ваш близък от семейството Ви, който има слухова загуба и не прави нищо по въпроса? Тук може да намерите насоки как да помогнете на своя близък.
            </p>
            <a href="/zaguba-na-sluha/pomosht-blizuk">Научи повече<span class="fa fa-angle-right"></span></a>
        </div>
	</div>
	<div class="hearing-image-box col-sm-4">
		<a href="/zaguba-na-sluha/pomosht-blizuk">
			<img class="image-scale" src="{{asset('bundles/zing/front/images/hear-lose-5.png')}}">
		</a>
	</div>
</div>
</div>