<div id="content">
        <section class="image-box">
            <div class="container">
                <div class="row">
                    <a href="/pogrizhete-se-za-sluha-si" rel="bookmark">
                        <div class="col-sm-4 slider pd5">
                            <div class="left-image-box">
                                <img class="image-scale remuving-img" alt="Погрижете се за слуха си" src="{{asset('bundles/zing/front/images/left-img.jpg')}}">
                                 <img class="image-scale cut-img" alt="Погрижете се за слуха си" src="{{asset('bundles/zing/front/images/left-img-cut.jpg')}}">
                                <div class="img-overlay">
                                    <img src="{{asset('bundles/zing/front/images/ear.svg')}}">
                                    <p>Погрижете се за слуха си</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/pomognete-na-blizak" rel="bookmark">
                        <div class="col-sm-4 slider pd5">
                            <div class="center-image-box">
                                <img class="image-scale remuving-img" src="{{asset('bundles/zing/front/images/center-img.jpg')}}" alt="Аз нося слухови апарати">
                                <img class="image-scale cut-img" src="{{asset('bundles/zing/front/images/center-img-cut.jpg')}}">
                                <div class="img-overlay">
                                    <img src="{{asset('bundles/zing/front/images/heart.svg')}}" alt="Помогнете на близък">
                                    <p>Помогнете на близък</p>
                                </div>
                            </div>
                        </div>
                    </a>
                        <a href="/az-nosia-sluhovi-aparati" rel="bookmark">
                            <div class="col-sm-4 slider pd5">
                                <div class="right-image-box">
                                    <img class="image-scale remuving-img" src="{{asset('bundles/zing/front/images/right-img.jpg')}}" alt="Аз нося слухови апарати">
                                     <img class="image-scale cut-img" src="{{asset('bundles/zing/front/images/right-img-cut.jpg')}}">
                                    <div class="img-overlay">
                                        <img src="{{asset('bundles/zing/front/images/hearing-aid.png')}}" alt="Аз нося слухови апарати">
                                        <p>Аз нося слухови апарати</p>
                                    </div>
                                </div>
                            </div>
                        </a>