                </div>
            </div>
        </section>
        <article class="services">
            <div class="grey-background">
            <div class="services-banner">
                <div class="container">
                    <div class="row">
                        <div class="services-box col-sm-4">
                            <a href="centrove-za-sluha">
                                <div class="services-box-cont">
                                <img src="{{asset('bundles/zing/front/images/hostpital.svg')}}">
                                <p>Нашите центрове</p>
                                </div>
                            </a>
                        </div>
                        <div class="services-box col-sm-4">
                            <a href="pediatrichni-kabineti">
                                <div class="services-box-cont">
                                <img class="pediatrichni-img" src="{{asset('bundles/zing/front/images/pediatrichni.png')}}">
                                <p>Педиатрични кабинети</p>
                                </div>
                            </a>
                        </div>
                        <div class="services-box col-sm-4">
                            <a href="ekip">
                                <div class="services-box-cont">
                                <img src="{{asset('bundles/zing/front/images/team.svg')}}">
                                <p>Нашият екип</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="guarantee clearfix">
                        <h4>Гаранция</h4>
                        <p>Заповядайте в Център за слуха Fonio и ще имате
                            възможността да изпробвате за период от 7 дни
                            швейцарските слухови апарати с марката Phonak
                            без ангажимент за покупка…
                        </p>
                        <a href="testvai-bezplatno">Към страницата<span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="guarantee clearfix">
                        <h4>Клиентите за нас</h4>
                        <p>Знаем, че не сме перфектни, но 99% от клиентите ни остават доволни. Вижте реални отзиви от наши клиенти…
                        </p>
                        <a href="klientite-za-nas">Към страницата<span class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <aside class="clearfix">
            <div class="grey-background">
                <div class="test-banner">
                    <div class="container">
                        <div class="row">
                            <div class="book-left col-sm-5">
                                <h4>Резервирайте преглед сега</h4>
                                <p>Център за слуха Фонио, като отдаден специалист в областта,
                                    препоръчва всеки човек на възраст над 50 години да си
                                    прави редовно тест на слуха.</p>
                                <a href="/pogrizhete-se-za-sluha-si/pregled-na-sluha">Tест на слуха<span class="fa fa-angle-right"></span></a>
                            </div>
                            <div class="book-center col-sm-3 col-sm-offset-1">
                                <a href="/pogrizhete-se-za-sluha-si/pregled-na-sluha">
                                <img src="{{asset('bundles/zing/front/images/headphones.svg')}}" alt="Tест на слуха">
                                Tест на слуха</a>
                            </div>
                            <div class="book-right col-sm-3">
                                <a href="/centrove-za-sluha">
                                <img src="{{asset('bundles/zing/front/images/locat.svg')}}" alt="Намери магазин">
                                Намери център</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="shop container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Магазин</h2>
                    </div>
                    <div class="col-sm-3 col-xs-6 box">
                        <a href="store/sluhovi-aparati/bazov-klas-sluhovi-aparati">
                            <div class="box-content">
                                <img src="{{asset('bundles/zing/front/images/group-27.png')}}" alt="Слухови апарати">
                                <h4>Слухови апарати</h4>
                                {# <p>Базов клас слухови апарати</p> #}
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6 box">
                        <a href="store/sluhovi-aparati-za-detsa">
                            <div class="box-content">
                                <img src="{{asset('bundles/zing/front/images/children.png')}}" alt="Апарати за деца">
                                <h4>Апарати за деца</h4>
                                {# <p>Базов клас слухови апарати за деца</p> #}
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6 box">
                            <a href="store/bezzhichni-aksesoari-za-sluhovi-aparati">
                                <div class="box-content">
                                <img src="{{asset('bundles/zing/front/images/aparats.png')}}" alt="Безжични аксесоари">
                                <h4>Безжични аксесоари</h4>
                                {# <p>Аксесоари за слухови апарати</p> #}
                                </div>
                            </a>
                    </div>
                    <div class="col-sm-3 col-xs-6 box">
                            <a href="store/sredstva-za-predpazvane-na-sluha">
                                <div class="box-content">
                                <img src="{{asset('bundles/zing/front/images/saves.png')}}" alt="Предпазване на слуха">
                                <h4>Предпазване на слуха</h4>
                                {# <p>Средства за предпазване на слуха</p> #}
                                </div>
                            </a>
                    </div>
                </div>
            </section>
            <div class="col-sm-12 shop-link">
            	<a rel="bookmark" href="/store">Посетете нашия магазин</a>
        	</div>
        </aside>
    </div>