{% if post_success %}
    <div class="alert alert-success" role="alert">Регистрацията е направена успешно</div>
{% endif %}

{% if post_error %}
    {% set zing_form_errors = post_error %}
{% endif %}

{{ include('ZingCoreCoreBundle:Default/Common:error_messages.html.twig') }}

<form method="post" role="form">
    <input type="hidden" name="zing_verify_code" value="{{ zing_verify_code }}" />
    <input type="hidden" name="t" value="core" />
    <input type="hidden" name="b" value="user" />
    <input type="hidden" name="c" value="user" />
    <input type="hidden" name="m" value="register" />

    <div class="form-group">
        <label for="exampleInputEmail1">Потребителско име:<span class="text-danger">*</span></label>
        <input name="user_name" type="text" class="form-control {% if zing_form_errors['user_name'] %}danger-field{% endif %}">
        {% if zing_form_errors['user_name'] %}<p class="text-danger text-small">{{ zing_form_errors['user_name'] }}</p>{% endif %}
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">E-mail:<span class="text-danger">*</span></label>
        <input name="user_email" type="email" class="form-control {% if zing_form_errors['user_email'] %}danger-field{% endif %}">
        {% if zing_form_errors['user_email'] %}<p class="text-danger text-small">{{ zing_form_errors['user_email'] }}</p>{% endif %}
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Парола:<span class="text-danger">*</span></label>
        <input name="user_password" type="password" class="form-control {% if zing_form_errors['user_password'] %}danger-field{% endif %}">
        {% if zing_form_errors['user_password'] %}<p class="text-danger text-small">{{ zing_form_errors['user_password'] }}</p>{% endif %}
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Повторете паролата:<span class="text-danger">*</span></label>
        <input name="user_repassword" type="password" class="form-control {% if zing_form_errors['user_repassword'] %}danger-field{% endif %}">
        {% if zing_form_errors['user_repassword'] %}<p class="text-danger text-small">{{ zing_form_errors['user_repassword'] }}</p>{% endif %}
    </div>

    <div class="form-group">
        <input name="user_agree" type="checkbox" value="1">
        <label class="required">Съгласен съм с
            <a class="text-danger" href="/terms-of-use">условията</a><span class="text-danger">*</span>
        </label>
        {% if zing_form_errors['user_agree'] %}<p class="text-danger text-small">{{ zing_form_errors['user_agree'] }}</p>{% endif %}
    </div>

    <div class="form-group">
        <input name="user_submit" class="btn btn-primary" type="submit" value="Регистрирай се">
    </div>
</form>
<script>
    (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6018796098354', {'value':'0.00','currency':'EUR'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6018796098354&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>
