{% extends "ZingCoreAdminBundle::layout.html.twig" %}
{% trans_default_domain "zing" %}

{% block body %}
    <div class="col-lg-9 col-md-8">
        <div class="box">
            <form>
                <input type="hidden" name="zing_verify_code" value="{{ zing_verify_code }}" />
                <div class="box-title">
                    {% trans %}Google maps{% endtrans %}
                    <div class="box-title-options">
                        <a class="btn btn-default custome-visible-sm" href="#filters"><i class="fa fa-filter"></i> {% trans %}Filters{% endtrans %}</a>
                        <a class="btn btn-default" href="/admincp/googlemaps/add"><i class="fa fa-plus"></i> {% trans %}Add Google map{% endtrans %}</a>
                    </div><!-- /.box-title-options -->
                </div>
                <div class="box-content">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th width="20">{% trans %}ID{% endtrans %}</th>
                                <th>{% trans %}Map name{% endtrans %}</th>
                                <th>{% trans %}Map width{% endtrans %}</th>
                                <th>{% trans %}Map height{% endtrans %}</th>
                                <th>{% trans %}Map type{% endtrans %}</th>
                                <th>{% trans %}Date added{% endtrans %}</th>
                                <th>{% trans %}Date modified{% endtrans %}</th>
                                <th width="130">{% trans %}Status{% endtrans %}</th>
                                <th width="80">{% trans %}Options{% endtrans %}</th>
                            </tr>
                            {% for map in google_maps %}
                                <tr>
                                    <td>{{ map.getId() }}</td>
                                    <td><span class="filter-name">{{ map.getName() }}</span></td>
                                    <td><span class="filter-name">{{ map.getWidth() }}</span></td>
                                    <td><span class="filter-name">{{ map.getHeight() }}</span></td>
                                    <td><span class="filter-name">{{ map.getMapType() }}</span></td>
                                    <td><span class="filter-date-added">{{ map.getDateAdded()|date("Y-m-d H:i:s") }}</span></td>
                                    <td><span class="filter-date-modified">{{ map.getDateModified()|date("Y-m-d H:i:s") }}</span></td>
                                    <td>
                                        <span class="filter-status {% if map.getStatus() == 1 %}text-success{% else %}text-danger{% endif %}">
                                            {% if map.getStatus() == 1 %}{% trans %}Active{% endtrans %}{% else %}{% trans %}Unactive{% endtrans %}{% endif %}
                                        </span>
                                    </td>
                                    <td class="form-inline options">
                                        <a class="btn btn-sm btn-default" title="{% trans %}Edit{% endtrans %}" data-placement="top" data-toggle="tooltip" href="/admincp/googlemaps/edit/{{ map.getId() }}"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-sm btn-default btn-remove" data-element="{{ map.getName() }}" title="{% trans %}Delete{% endtrans %}" data-placement="top" data-toggle="tooltip" href="/admincp/googlemaps/remove/{{ map.getId() }}"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div><!-- /table-responsive -->
                </div><!-- /.box-content -->
            </form>
        </div><!-- /.box -->
    </div><!-- /.col-lg-9 -->

    <div class="col-lg-3 col-md-4" id="filters">
        <div class="box">
            <div class="box-title">{% trans %}Filters{% endtrans %}</div>
            <div class="box-content">
                <div class="form-group filter">
                    <label>{% trans %}Name{% endtrans %}</label>
                    <input type="text" name="filter-name" class="form-control" placeholder="{% trans %}Enter Title{% endtrans %}...">
                </div>

                <div class="form-group filter">
                    <label>{% trans %}Url{% endtrans %}</label>
                    <input type="text" name="filter-url" class="form-control" placeholder="{% trans %}Enter Url{% endtrans %}...">
                </div>

                <div class="row">
                    <div class="col-xlg-4 col-lg-6 col-md-6 col-sm-4">
                        <div class="form-group filter mb0">
                            <label>{% trans %}Status{% endtrans %}</label>
                            <ul class="list-unstyled">
                                <li><div class="checkbox"><input type="checkbox" name="filter-status" value="active" id="f-active" checked> <label for="f-active">{% trans %}Active{% endtrans %}</label></div></li>
                                <li><div class="checkbox"><input type="checkbox" name="filter-status" value="unactive" id="f-unactive" checked> <label for="f-unactive">{% trans %}Unactive{% endtrans %}</label></div></li>
                            </ul>
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.box-content -->
        </div><!-- /.box -->
    </div><!-- /.col-lg-3 -->
{% endblock %}