{% extends "ZingCoreAdminBundle::layout.html.twig" %}
{% trans_default_domain "zing" %}

{% block body %}
    {% set action = zing_form_action %}

    <div class="col-lg-12">
        <div class="box">
            {{ include('ZingCoreCoreBundle:Default/Common:error_messages.html.twig') }}

            <form method="post">
                <input type="hidden" name="zing_verify_code" value="{{ zing_verify_code }}" />
                <div class="box-title">{{ action }} {% trans %}slider{% endtrans %}</div>
                <div class="box-content">
                    <div class="row tabs">

                        <div class="col-xlg-6 col-lg-5 col-md-5 col-sm-6">

                            <div class="form-group">
                                <label>{% trans %}Name{% endtrans %}</label>
                                <input type="text" class="form-control" placeholder="{% trans %}Name{% endtrans %}" value="{{ zing_slider_name }}" name="zing_slider_name">
                            </div>

                            <div class="form-group">
                                <label>{% trans %}Width{% endtrans %} <span class="help">\ {% trans %}%{% endtrans %}</span></label>
                                <input type="text" class="form-control" placeholder="{% trans %}Width in %{% endtrans %}" value="{{ zing_slider_width }}" name="zing_slider_width">
                            </div>

                            <div class="form-group">
                                <label>{% trans %}Height{% endtrans %} <span class="help">\ {% trans %}px{% endtrans %}</span></label>
                                <input type="text" class="form-control" placeholder="{% trans %}Heigth in pixels{% endtrans %}" value="{{ zing_slider_height }}" name="zing_slider_height">
                            </div>

                            <div class="form-group">
                                <label>{% trans %}Status{% endtrans %}</label>
                                <br />
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-sm btn-toggle-active {% if zing_slider_status == 1 %} active{% endif %}">
                                        <input name="zing_slider_status" type="radio" value="1" {% if zing_slider_status == 1 %} checked{% endif %}>{% trans %}Active{% endtrans %}
                                    </label>
                                    <label class="btn btn-sm btn-toggle-unactive {% if zing_slider_status == 0 %} active{% endif %}">
                                        <input name="zing_slider_status" type="radio" value="0" {% if zing_slider_status == 0 %} checked{% endif %}>{% trans %}Unactive{% endtrans %}
                                    </label>
                                </div>
                            </div>
                        </div><!-- /.col-lg-5 -->
                    </div><!-- /.row -->

                    <hr />

                    <div class="row">
                        <div class="col-xlg-1 col-lg-2 col-md-2 col-sm-3 col-md-offset-2 col-xlg-offset-1">
                            <input class="btn btn-block btn-form" type="submit" name="zing_dev_block_template_submit" value="{{ action }}" />
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2"><a href="#" class="btn btn-cancel">{% trans %}Cancel{% endtrans %}</a></div>
                    </div><!-- /.row -->
                </div><!-- /.box-content -->
            </form>
        </div><!-- /.box -->
    </div><!-- /.col-lg-12 -->
{% endblock %}