{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{# ----- For Google Analytics A/B Test code ----- #}
{% set gaTestCode = '' %}
{% if ('/signia-iphone' in currentPath) or ('/testvai-phonak-venture' in currentPath) or ('/chui-zvucite-na-jivota' in currentPath) %}
    {% set gaTestCode = "ga('require', 'GTM-W9XMRFL');" %}
{% endif %}
{# ---------------------------------------------- #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ meta['description'] }}" />
    {#        <meta name="keywords" content="{{ meta['keywords'] }}" />#}
    <meta name="google-site-verification" content="P3iwihrT-ZX-WZ_genDL0eLnsySzRMVwSnBjbCTW8yk" />
    <meta itemprop="url" content="{{ uri }}"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="{{asset('bundles/zing/admin/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/zing/admin/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/jRating/jquery/jRating.jquery.css')}}" rel="stylesheet">
    {% if '/news' in currentPath %}
        <link href="{{asset('bundles/bootstrap-select/css/bootstrap-select.css')}}" rel="stylesheet">
    {% endif %}
    <link href="{{asset('bundles/zing/admin/css/prettyPhoto.css')}}" rel="stylesheet">
    <link href="{{asset('bundles/zing/front/css/style.min.css')}}?v=2" rel="stylesheet">

    {% if canonical %}
        {% if not rel_prev and not rel_next %}
            <link href="{{ canonical }}" rel="canonical" />
        {% else %}
            {% if not app.request.get('page') %}
                <link href="{{ canonical }}" rel="canonical" />
            {% else %}
                <meta name="robots" content="noindex" />
            {% endif %}
            {% if rel_prev %}
                {% if rel_prev == 1 %}
                    <link href="http://fonio.bg{{ currentPath }}" rel="prev" />
                {% else %}
                    <link href="http://fonio.bg{{ currentPath }}?page={{ rel_prev }}" rel="prev" />
                {% endif %}
            {% endif %}
            {% if rel_next %}
                <link href="http://fonio.bg{{ currentPath }}?page={{ rel_next }}" rel="next" />
            {% endif %}
        {% endif %}
    {% else %}
        {% if noindex %}
            <meta name="robots" content="noindex" />
        {% endif %}
    {% endif %}

    {% block head %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>{{ meta['title'] }}</title>

    <script type="text/javascript">
        {# ----- Changed regarding the Google Analytics A/B Test code ----- #}
        {{ google_analytics|replace({'%gatest%': gaTestCode})|raw }}
        {# ---------------------------------------------------------------- #}
    </script>

    <script src="//load.sumome.com/" data-sumo-site-id="b2202da69b44d55f626e8db79549803723bb568013929eb999127ec69b4d5cd9" async="async"></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1822263004674922');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1822263004674922&ev=PageView&noscript=1"
                /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W8Z6P46');</script>
    <!-- End Google Tag Manager -->


    <!-- Hotjar Tracking Code for asda.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:585670,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>


</head>
<body itemscope itemtype="http://schema.org/WebSite">
<!-- {{ currentPath }} -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8Z6P46"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% set menu = request_service("zing.core.menu.menu") %}

<main>
    {% block body %}{% endblock %}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{asset('bundles/zing/admin/js/jquery.cycle.all.js')}}"></script>
<script src="{{asset('bundles/zing/admin/js/bootstrap.min.js')}}"></script>
<script src="{{asset('bundles/jRating/jquery/jRating.jquery.min.js')}}"></script>
{% if '/news' in currentPath %}
    <script src="{{asset('bundles/bootstrap-select/js/bootstrap-select.min.js')}}"></script>
    <script src="{{asset('bundles/bootstrap-select/js/bootstrap-select-bg_BG.min.js')}}"></script>
    <script src="{{asset('bundles/flexisel/jquery.flexisel.js')}}"></script>
{% endif %}
<script src="{{asset('bundles/zing/admin/js/jquery.prettyPhoto.js')}}"></script>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-500944e36bbd583b" async="async"></script>
{% if '/test-na-sluha' in currentPath %}
    <script src="{{asset('bundles/zing/front/js/poll.js')}}"></script>
{% endif %}
{% block javascript %}
{% endblock %}

<script type="text/javascript">
    // Sllider Init
    $('.slider').each(function() {
        $(this).cycle({
            fx: 'fade',
            slideExpr: 'li'
        });
    });

    // Zopim Init
    //            window.$zopim||(function(d,s){var z=$zopim=function(c){
    //            z._.push(c)},$=z.s=
    //            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    //            _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    //            $.src='//v2.zopim.com/?2XwNBdvEHBb2Pjg6hsSPxLJ7dPXDakB4';z.t=+new Date;$.
    //            type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');

    // Tooltips
    if($('.tooltips').length)
    {
        $('.tooltips').tooltip(
                {
                    container: 'body',
                    placement: 'top',
                    trigger: 'hover'
                });
    }

    // Bootstrap Select
    if($('.selectpicker').length)
    {
        $('.selectpicker').selectpicker(
                {
                    container: 'body',
                    width: '100%',
                    size: 6
                });

        $('.selectpicker').on('changed.bs.select',function(e,clickedIndex,newValue,oldValue)
        {
            $(this).closest('form').submit();
        });
    }

    // Flexisel carousel
    if($('#blog-images').length)
    {
        $('#blog-images').flexisel(
                {
                    visibleItems: 3, //  The initial number of visible items in the carousel
                    itemsToScroll: 1,
                    animationSpeed: 500, // Speed of the scrolling animation
                    autoPlay: false, // Auto scrolling
                    autoPlaySpeed: 3000, // Speed of auto scrolling
                    pauseOnHover: true, // Whether or not pause the auto sliding on mouse over
                    multipleSlides: true, // Use more than one slide while scrolling (scroll by visibleItems-slides)
                    enableResponsiveBreakpoints: true, // Enable responsive breakpoints
                    responsiveBreakpoints: {
                        feature: {
                            changePoint: 320,
                            visibleItems: 1
                        },
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 769,
                            visibleItems: 2
                        },
                        nexusatablet: {
                            changePoint: 801,
                            visibleItems: 2
                        },
                        desktop: {
                            changePoint: 992,
                            visibleItems: 3
                        }
                    }
                });

        if($('#blog-images > li > img[data-url]').length && $('.main-view > img').length)
        {
            $('#blog-images > li > img[data-url]').on('click',function(ev)
            {
                ev.preventDefault();

                $('.main-view > img').prop('src',$(this).data('url'));

                $('#blog-images > li > img[data-url]').removeClass('active');
                $(this).addClass('active');

                return false;
            });
        }
    }

    if($('#registerTestModal').length)
    {
        $('#registerTestModal').modal('show');
    }

    if($('.inner-content img, .inner-content iframe').length)
    {
        $('.inner-content img, .inner-content iframe').each(function(){
            if($( window ).width() < '801')
            {
                if(this.width > 300)
                {
                    $(this).addClass('img-forse-rezise');
                }

            }
        });
    }
</script>

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"4bfecb4021d2df356db960774","lid":"a28b2265ca"}) })</script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.navigation li ').each(function(){
            if( $(this).hasClass('current')){
                $(this).children('ul').css('display','block');
                $(this).parentsUntil('.navigation').css('display','block');
            }
            else {
                $(this).children('ul').css('display','none')
            }
        });
    });

</script>

</body>
</html>















