{% extends "ZingCoreAdminBundle::layout.html.twig" %}
{% trans_default_domain "zing" %}

{% block body %}
    <div class="submenu">
        <div class="col-xlg-1 col-lg-1 col-md-1 col-sm-1"><a class="box" href="#"><i class="fa fa-user animated"></i> <span>{% trans %}Users{% endtrans %}</span></a></div>
        <div class="col-xlg-1 col-lg-1 col-md-1 col-sm-1"><a class="box" href="#"><i class="fa fa-users animated"></i> <span>{% trans %}Groups{% endtrans %}</span></a></div>
    </div><!-- /.submenu -->
    <div class="clearfix"></div>

    <div class="col-lg-9 col-md-8">
        <div class="box">
            <div class="box-title">
                {% trans %}Users{% endtrans %}
                <div class="box-title-options">
                    <a class="btn btn-default custome-visible-sm" href="#filters"><i class="fa fa-filter"></i> {% trans %}Filters{% endtrans %}</a>
                    <a class="btn btn-default" href="/admincp/users/add"><i class="fa fa-plus"></i> {% trans %}New User{% endtrans %}</a>
                </div><!-- /.box-title-options -->
            </div>
            <div class="box-content">
                <div class="table-responsive">
                    <table class="table table-hover" id="filters-content">
                        <tr>
                            <th width="20">{% trans %}ID{% endtrans %}</th>
                            <th>{% trans %}Username{% endtrans %}</th>
                            <th>{% trans %}Email{% endtrans %}</th>
                            <th>{% trans %}Roles{% endtrans %}</th>
                            <th>{% trans %}Last Login{% endtrans %}</th>
                            <th width="130">{% trans %}Status{% endtrans %}</th>
                            <th width="80">{% trans %}Options{% endtrans %}</th>
                        </tr>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.getId() }}</td>
                                <td><span class="filter-username">{{ user.getUserName() }}</span></td>
                                <td><span class="filter-email">{{ user.getEmail() }}</span></td>
                                <td><span class="filter-role"></span>{% for role in user.getRoles() %} {{ role }} | {% endfor %}</td>
                                <td><span class="filter-lastlogin">{{ user.getLastLogin()|date }}</span></td>
                                <td><span class="filter-status text-success">Active</span></td>
                                <td class="form-inline options">
                                    <a class="btn btn-sm btn-default" title="Edit" data-placement="top" data-toggle="tooltip" href="/admincp/users/edit/{{ user.getId() }}"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-sm btn-default btn-remove" data-element="{{ user.getUserName() }} ({{ user.getEmail() }})" title="Delete" data-placement="top" data-toggle="tooltip" href="/admincp/users/remove/{{ user.getId() }}"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div><!-- /table-responsive -->
            </div><!-- /.box-content -->
        </div><!-- /.box -->
    </div><!-- /.col-lg-9 -->

    <div class="col-lg-3 col-md-4" id="filters">
        <div class="box">
            <div class="box-title">{% trans %}Filters{% endtrans %}</div>
            <div class="box-content">
                <div class="form-group filter">
                    <label>{% trans %}Username{% endtrans %}</label>
                    <input type="text" name="filter-username" class="form-control" placeholder="{% trans %}Enter Username{% endtrans %}...">
                </div>

                <div class="form-group filter">
                    <label>{% trans %}Email{% endtrans %}</label>
                    <input type="text" name="filter-email" class="form-control" placeholder="Type Email...">
                </div>

                <div class="form-group filter">
                    <label>{% trans %}Last Login{% endtrans %}</label>
                    <input type="text" name="filter-lastlogin" class="form-control" placeholder="{% trans %}Date{% endtrans %}...">
                </div>

                <div class="row">
                    <div class="col-xlg-4 col-lg-6 col-md-6 col-sm-4">
                        <div class="form-group filter mb0">
                            <label>{% trans %}Status{% endtrans %}:</label>
                            <ul class="list-unstyled">
                                <li><div class="checkbox"><input type="checkbox" name="filter-status" value="active" id="f-active" checked> <label for="f-active">{% trans %}Active{% endtrans %}</label></div></li>
                                <li><div class="checkbox"><input type="checkbox" name="filter-status" value="unactive" id="f-unactive" checked> <label for="f-unactive">{% trans %}Unactive{% endtrans %}</label></div></li>
                            </ul>
                        </div>
                    </div><!-- /.col-lg-6 -->

                    <div class="col-xlg-4 col-lg-6 col-md-6 col-sm-4">
                        <div class="form-group filter mb0">
                            <label>{% trans %}Role{% endtrans %}</label>
                            <ul class="list-unstyled">
                                <li><div class="checkbox"><input type="checkbox" name="filter-role" value="user" id="f-user" checked> <label for="f-user">{% trans %}User{% endtrans %}</label></div></li>
                                <li><div class="checkbox"><input type="checkbox" name="filter-role" value="admin" id="f-admin" checked> <label for="f-admin">{% trans %}Admin{% endtrans %}</label></div></li>
                                <li><div class="checkbox"><input type="checkbox" name="filter-role" value="superadmin" id="f-superadmin" checked> <label for="f-superadmin">{% trans %}Superadmin{% endtrans %}</label></div></li>
                            </ul>
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.box-content -->
        </div><!-- /.box -->
    </div><!-- /.col-lg-3 -->
{% endblock %}